.container#content {
  margin-top: 60px;
}
body {  
  font-family: $site-font;
}
a {
  color: #000000;
  font-family: 'Raleway';
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}

.buttonText {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #ffffff;
  }
}